.rec-pagination {
  margin-top: -100px !important;
  z-index: 999 !important;
}

.rec-pagination > button {
  background-color: white;
  width: 15px;
  height: 15px;
  /* background: linear-gradient(to left, ); */
}

.slider_wrappper > div {
  position: relative;
}

.slider_wrappper > div > .rec-arrow-left,
.slider_wrappper > div > .rec-arrow-right {
  position: absolute;
  z-index: 999;
  background-color: white;
}

.slider_wrappper > div > div {
  margin: 0 0;
}

.slider_wrappper > div > .rec-arrow-left {
  left: 30px;
}

.slider_wrappper > div > .rec-arrow-right {
  right: 30px;
}
